<div class="container">
  <h1 class="mt-3">Pipes</h1> 
  <h6> A Handbook of samples 
    on how to use main Pipes in Angular
  </h6>

  <table class="table table-dark mt-4">
    <thead class="thead-primary">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Output</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td>{{ name1 }}</td>
          <td>uppercase</td>
          <td> {{ name1 | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ name2 }}</td>
          <td>lowercase</td>
          <td> {{ name2 | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ name3 }}</td>
          <td>slice: 3</td>
          <td> {{ name3 | slice:3 }}</td>
        </tr>
        <tr>
          <td>{{ name4 }}</td>
          <td>slice: 0:3</td>
          <td> {{ name4 | slice:0:3 }}</td>
        </tr>
        <tr>
          <td>Cameron, Gordon, Donna...</td>
          <td>slice: 0:3</td>
          <td> {{ myArray | slice:0:3 }}</td>
        </tr>

        <tr>
          <td>{{ PI }}</td>
          <td>number: '1.0-0'</td>
          <td> {{ PI | number: '1.0-0' }}</td>
        </tr>

        <tr>
          <td>{{ PI }}</td>
          <td>number: '3.0-0'</td>
          <td> {{ PI | number: '3.0-0' }}</td>
        </tr>

        <tr>
          <td>{{ PI }}</td>
          <td>number: '.0-2'</td>
          <td> {{ PI | number: '.0-2' }}</td>
        </tr>

        <tr>
          <td>{{ PI }}</td>
          <td>number: '.0-2'</td>
          <td> {{ PI | number: '.0-2' }}</td>
        </tr>

        <tr>
          <td>{{ percent }}</td>
          <td>percent</td>
          <td> {{ percent | percent: '2.2-2' }}</td>
        </tr>

        <tr>
          <td>{{ salary }}</td>
          <td>currency:'EUR'</td>
          <td> {{ salary | currency:'EUR'  }}</td>
        </tr>

        <tr>
          <td>{{ salary }}</td>
          <td>currency:'EUR':'symbol':'.0-0'</td>
          <td> {{ salary | currency:'EUR ':'symbol':'.0-0'  }}</td>
        </tr>
        
        <tr>
          <td>{{ promiseValue }}</td>
          <td>async</td>
          <td> {{ promiseValue | async  }}</td>
        </tr>

        <tr>
          <td>{{ date }}</td>
          <td>date</td>
          <td> {{ date | date  }}</td>
        </tr>

        <tr>
          <td>{{ date }}</td>
          <td>date: 'medium'</td>
          <td> {{ date | date: 'medium'  }}</td>
        </tr>

        <tr>
          <td>{{ date }}</td>
          <td>date: 'MMMM - dd'</td>
          <td> {{ date | date: 'MMMM - dd'  }}</td>
        </tr>

        <tr>
          <td>{{ date }}</td>
          <td>
            date: 'MMMM - dd': '': '{{ language }}'
            <br>

            <button class="btn btn-primary mt-2 mr-2" (click)="language='es'">Español</button> 
            <button class="btn btn-secondary mt-2 mr-2" (click)="language='en'">Inglés</button> 
            <button class="btn btn-success mt-2 mr-2" (click)="language='fr'">Francés</button>
          
          </td>
          <td> {{ date | date: 'MMMM - dd': '': language}}</td>
        </tr>

      </tbody>
  </table>

  <h4 class="mt-4">Slice 2:5 an array</h4>
  <hr>
  <ul>
    <li *ngFor="let item of myArray | slice: 2:5" >{{ item }}</li>
  </ul>


  <h4 class="mt-4">JSON</h4>
  <hr>
  <div class="row">
    <div class="col">
      <pre>{{ character | json }}</pre>
    </div>

  </div>

  <h4 class="mt-4">Custom pipe</h4>
  <hr>
  <div class="row">
    <div class="col">
      Created a custom Pipe call capitalize which converts first letter of words into capital letters
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">


      <table class="table table-dark mt-4">
        <thead class="thead-primary">
          <tr>
            <th>Variable</th>
            <th>Pipe</th>
            <th>Output</th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td>{{ name6 }}</td>
              <td>capitalize:true</td>
              <td> {{name6 | capitalize: true}}</td>
            </tr>
            <tr>
              <td>{{ name6 }}</td>
              <td>capitalize:false <br> only capitalize first word</td>
              <td> {{name6 | capitalize: false}}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>

  <h4 class="mt-4">Secure DOM</h4>
  <hr>
  <div class="row">
    <div class="col">
     This Custom Pipe sanitizes urls in order to be able to display content form server outside the App
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <iframe width="560" height="315" 
      [src]="videoUrl | securedom" 
      frameborder="0" allow="accelerometer; 
      autoplay; encrypted-media; 
      gyroscope; picture-in-picture" 
      allowfullscreen>
      </iframe>

    </div>
  </div>

</div>

<h4 class="mt-4">Hide Characters Pipe</h4>
<hr>
<div class="row mt-2">
  <div class="col">
    <table class="table table-dark mt-4">
      <thead class="thead-primary">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Output</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <td>{{ name1 }}</td>
            <td>
              showhide {{ activate }}
              <button class="btn btn-success" (click)="activate = !activate" >
                Activate: {{ activate }}
              </button>
            </td>
            <td> {{ name1 | showhide: activate }}</td>
          </tr>

        </tbody>
    </table>
  </div>
</div>

<hr class="mb-5">